@import "../../../global.scss";
.footerContainer {
  font-family: $commonFont;
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: center;
}
.footerHolder {
  width: 80%;
  height: 100%;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footerCta {
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.63px;
  font-family: $commonFont;
}
.footerNavigator {
  width: 100px;
  display: flex;
  align-items: center;
  font-family: $commonFont;
  font-size: 0.688rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: 1px;
  cursor: pointer;
}
.footerNavigator {
  span {
    margin-top: 4px;
    color: $yellow;
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px) {
  .footerCta {
    font-size: 1rem;
    width: 50%;
  }
  .footerNavigator {
    font-size: 0.588rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 800px) {
  .footerCta {
    width: 50%;
  }
}
