@import '../../../global.scss';

.headerContainer{
    width: 100vw;
    // height: 150px;
    background: transparent;
    display: flex;
    justify-content: center;
}

.headerHolder{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.titleContainer{
    display: flex;
    flex-direction: column;
}
.titleHolder{
    margin-bottom: 20px;
    margin-top: 30px;
}
.contactContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px 10px ;
   margin-top: 40px;
   height: 40px;
   font-family: $commonFont;
   font-size: 17px;
   letter-spacing: 0.1rem;
   color: $white;
   border: 1px solid $white;
   cursor: Pointer
}

.navBtn{
    color: $white;
    font-family: $commonFont;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 0.1rem;
}
.activeNav{
    color: $yellow;
}